.img
{
    position: relative;
    top: 95px;
    left: 20;
}
.mb-3{
margin: auto !important;
box-shadow: -2px 1px 25px -4px rgb(0 0 0 / 75%) !important;
}
.container{
    margin-top:70px
}
.card{
    box-shadow: -2px 1px 25px -4px rgb(0 0 0 / 75%) !important;
    max-width:750px !important;
}
.card-title{
    margin-bottom: 70px;
}
img{
    position: relative;
    top: 18%;
}