.container
{
    margin-top: 250px;

}.singleProductImage{
    border:10px double silver;
    transition: all .5s ease-in-out;
}
.singleProductImage:hover{
    transform: scale(1.5);
}

.quantityInput{
    width:50px
}
.addToCart{
    width: 70%;
    margin-top: 10px;
    border-radius: 20px;
}
.firstForm{
    /* border-bottom: 1px solid gray; */
    padding-bottom: 20px;
}
.categories{
    border-top: 1px solid gray;
    padding-top: 20px;
}
.categories p{
    position: relative;
    left: -15px;

}
.commentsSection{
    border: 1px solid #e1dddd;
    margin-top: 100px;
    padding: 50px;
    box-shadow: 7px 10px 20px grey;
    margin-bottom: 20px;
}
.main-span,
.sub-span{
    display: block;
    font-size: 55px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.sub-span{
    margin-top: 50px;
}
textarea{
    width: 100%;
    height: 40%;
    margin-bottom: 25px;
}
.btn-lg{
    width: 40%;
    border-radius: 20px;
    padding: 10px;
}
.userName-comment{
    font-style: italic;
    font-weight: 400;
}
.userComment-comment{
    margin-left: 20px;
}
@media(max-width:992px){
    .singleProductDesc{
        margin-top: 40px;
    }
    .categories{
        border:none;
        padding-top:0;
    }
}