.container
{
    margin-top: 150px;

}.singleProductImage{
    border:10px double silver;
    transition: all .5s ease-in-out;
}
.singleProductImage:hover{
    transform: scale(1.5);
}

.quantityInput{
    width:50px
}
.addToCart{
    width: 70%;
    margin-top: 10px;
    border-radius: 20px;
}
.firstForm{
    /* border-bottom: 1px solid gray; */
    padding-bottom: 20px;
}
.categories{
    /*border-top: 1px solid gray;
    padding-top: 20px;*/
}
.categories p{
    position: relative;
    left: -15px;

}
.product_color{
    margin-bottom: 5px;
}
.singleProductDesc{
    margin-top: 70px;
}
.commentsSection{
    /* border: 1px solid #e1dddd; */
    margin-top: 100px;
    padding: 50px;
    /*box-shadow: 7px 10px 20px grey;*/
    margin-bottom: 20px;
    border-radius: 0.25rem;
}
.main-span,
.sub-span{
    display: block;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
    color:#570A57;
}
/* .sub-span{
    margin-top: 50px;
} */
textarea{
    width: 100%;
    height: 40%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(181, 181, 181);
}
.btn-lg{
    padding: 0rem 1rem;
    width: 15%;
    margin: 30px auto;
    position: absolute;
    left: 315px;
}
.userName-comment{
    font-weight: 400;
    font-size: 25px;
    line-height: 2;
}
.userComment-comment{
    margin-left: 20px;
}
@media(max-width:992px){
    .singleProductDesc{
        margin-top: 40px;
    }
    .categories{
        border:none;
        padding-top:0;
    }
}
@media(max-width:520px){
    .commentsSection{
        width: 100%;
    }
    .main-span,
    .sub-span{
        font-size:35px;
    }
}
h4{
    color: #570A57;
}
.comment-container{
    display: inline-block;
}
.addToCart{
    background-color: #570A57;
    color: white;
}
.profilePic{
    height: 60px;
    margin-top: -82px;
}
.old-comment-container{
    background-color: rgb(237 237 237);
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: auto;
}
.new-comment{
    width: 79%;
}
.add-new-comment{
    background-color: rgb(237 237 237);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    margin: auto;
}
.newCommentBtn{
    background-color: #570A57;
    color: white;
    margin: auto;
    text-align: center;
    margin: 30px 0px;
    position: relative;

}
.productDesc{
    margin-top: 50px;
}
.leica-info{
    margin-top: 100px;
    padding-left: 50px;
}
.leica-info h2{
    font-size: 55px;
    font-weight: lighter;
    padding: 55px 0 0 55px;
}
.leica-info h5{
    padding: 0 0 0 55px;
    font-weight: lighter;
    line-height: 1.5;
}
.leica-info h5 ol{
    padding: 20px 0 0 65px;
}
footer .container{
    margin-top:50px
}
.card{
    height: 655px;
}
.col-lg-6{
    width: 100% !important;
}
.leica-pic{
    background-image: url('../img/projectimg/Lecia-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
    vertical-align: middle;
    margin-top: 230px;
    height: 330px;
    border: 1px solid white;
}