@import url(http://fonts.googleapis.com/css?family=Oswald);
.a_button_create
{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.avatar_logout
{
    margin-right: 25px;


}


h2{
    display:inline-block;
}
.btn{
    
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}

.btn-sunny {
    height: 50px;
    width: 20%;
    color: #fff;
    background-color: #f4ad49;
    border-bottom:2px solid #c38a3a;
    }
.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom:2px solid #c4924c;
    outline: none;
    }
    
    
    .btn-sunny:active, .btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid #ab7a33;
    margin-top: 2px;
    }
    .btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.btn-sunny a {color:rgb(255, 255, 255);}
a:hover {text-decoration:none; color:rgb(45, 35, 2);}



