body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bigdiv
{
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0.1px hidden ;
    border-radius: 10px;    
    box-shadow: -15px 15px 15px 5px rgba(148, 148, 148, 0.548);
    background-color: rgba(154, 154, 154, 0.312);
    width: 80%;
    height: 500px;
    
}
input
{
    display: block;
}
.name
{
    
    margin-bottom: 2%;
    font-size:3rem;
    color: rgb(23, 23, 23);
}
.data
{
    
    
    margin-bottom: 2%;
    font-size: 1.5rem;
    color: rgb(23, 23, 23);

}
a
{
    color: rgb(21, 21, 21);
   
    text-decoration: none;
}
button
{
    font-size:15px;
    border: 0.1px hidden ;
    border-radius: 10px;    
    box-shadow: -15px 15px 15px 5px rgba(148, 148, 148, 0.548);
    background-color: rgba(154, 154, 154, 0.312);
    width: 200px;
    height: 50px;
    display: block;
}
img
{
    margin-top: 5%;
    width: 30%;
    height: 70%;
}